// Imports
@import "~bootstrap/scss/bootstrap";

:root {
    --border-color: #DEE2E6;
    --active-color: #fef7e6;
    --active-font-color: #a47601;

    --bs-btn-hover-bg: #cf9400!important;
    --bs-btn-hover-border-color: #F5AF00!important;
}

$yellow:  #ffc107 !default;
$yellow-dark: #e8af05 !default;

@font-face {
    font-family: Klavika;
    src: url("../assets/klavika-medium.otf");
}

body {
    font-family: Klavika, sans-serif;
}

.bg-light {
    background-color: #0F132F !important;
}

.navbar-brand, .navbar-nav .nav-link.active, .nav-link {
    color: white !important;
    transition: .3s;
}

.navbar-brand:hover, .navbar-nav .nav-link.active:hover, .nav-link:hover {
    color: white !important;
    opacity: .7;
}

.btn-primary {
    background-color: $yellow;
    border: 0;

    &:hover {
        background-color: $yellow-dark !important;
    }
}

.bg-light {
    background-color: #0F132F!important;
}

.navbar-brand, .navbar-nav .nav-link.active, .nav-link {
    color: white!important;
    transition: .3s;
}

.navbar-brand:hover, .navbar-nav .nav-link.active:hover, .nav-link:hover {
    color: white!important;
    opacity: .7;
}

.activity-image-full-size {
    width: 100%;
}

.accordion {
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    transition: 0.5s;
    margin-bottom: 10px;
}

.header {
    display: flex;
    position: relative;
    width: 100%;
    height: 50px;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    transition: 0.5s;
}

.headerActive {
    background-color: var(--active-color);
    color: var(--active-font-color);
}

.end {
    position: absolute;
    bottom: 6px;
    right: 15px;
}

.svg-dropdown {
    height: 25px;
    width: 25px;
}

.left {
    padding-left: 20px;
}

.middle {
    padding-left: 30px;
}

.accordion .content {
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin:0 20px;
    display: flex;
}

.content .box {
    width: 45%;
}

.content .spacer {
    width: 5%;
}

.border {
    width: 100%;
    height: 100%;
    border: 1px solid #DEE2E6;
    border-radius: 5px  ;
    padding: 10px;
    box-sizing: border-box;
}

.padding-25 {
    padding-bottom: 25px
}

.comments {
    max-height: 420px;
    overflow-y: scroll;
}

.header {
    border-top: 1px solid var(--border-color);
}
