// Imports
@import "~bootstrap/scss/bootstrap";


body {
    background: white;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pp {
    height: 50px;
    width: 50px;
}

tr {
    border: black 1px solid;
}

td {
    border: black 1px solid;
}

//.container {
//    display: flex;
//    align-items: center;
//    justify-content: center;
//    flex-direction: column;
//
