// Imports
<<<<<<< refs/remotes/origin/main
@import "~bootstrap/scss/bootstrap";
=======


body {
    background: black;
}

<<<<<<< refs/remotes/origin/main
#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

>>>>>>> Added Flexbox
=======
.pp {
    height: 5px;
    width: 5px;
}

//.container {
//    display: flex;
//    align-items: center;
//    justify-content: center;
//    flex-direction: column;
//
>>>>>>> Backup Commit, as contingency when things go wrong
